* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

nav {
  display: flex;
  padding-left: 150px;
  height: 5rem;
  align-items: center;
  box-shadow: 0 12px 16px 6px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  color: whitesmoke;
}

nav ul li {
  display: flex;
  margin-right: 45%;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

footer {
  background-color: rgb(102, 134, 146);
  position: absolute;
  margin-top: 30%;
  text-align: center;
  width: 100%;
}

#card-section {
  display: grid;
  grid-template-columns: 17% 17% 17%;
  gap: 25px;
  width: 80%;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.card {
  box-shadow: 0 12px 16px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.card:hover {
  transform: scale(1.02);
  transition: 500ms ease-in-out;
}

.card img {
  width: 60%;
  margin: 0 auto;
}

.card h1 {
  font-size: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.likes-div {
  display: flex;
  align-items: baseline;
  width: 20px;
}

.heart,
#like {
  font-size: 20px;
  margin-top: 5px;
}

.heart {
  color: rgb(189, 187, 187);
}

.heart:active {
  color: red;
  transition: 200ms;
}

.heart:hover {
  cursor: pointer;
}

#like {
  text-align: end;
  font-size: 18px;
}
